
@{
    ViewBag.Title = "管理员你好-学生选课管理信息系统";
    System.Data.DataTable student = Model.Tables["student"];  //student table
    System.Data.DataTable teacher = Model.Tables["teacher"];  //teacher table
}

<h2>欢迎您，管理员！<small id="showDate"></small></h2>
<br />
<ul id="myTab" class="nav nav-tabs">
    <li id="student_tab" class="active">
        <a href="#student" data-toggle="tab">
            管理学生
        </a>
    </li>
    <li id="teacher_tab">
        <a href="#teacher" data-toggle="tab">
            管理教师
        </a>
    </li>
    <li id="course_tab">
        <a href="#course" data-toggle="tab">
            管理课程
        </a>
    </li>
    <li id="miscellaneous_tab">
        <a href="#miscellaneous" data-toggle="tab">
            管理其他
        </a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">
    <!--管理学生-->
    <div class="tab-pane fade in active" id="student">
        <div style="margin-bottom:5%;margin-top:2%">
            <div class="page-header" style="margin-top:5px">
                <h3>
                    <small><i class="glyphicon glyphicon-tags"></i></small>
                    所有学生列表
                    <small></small>
                </h3>
            </div>
            <div class="container" style="margin-top:0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="studenttable">
                                <thead>
                                    <tr>
                                        <th name="@student.Columns[0].ColumnName" hidden></th>
                                        <th name="@student.Columns[1].ColumnName"><i class="fa fa-hashtag"></i>&nbsp;姓名 </th>
                                        <th name="@student.Columns[2].ColumnName"><i class="fa fa-female"></i></th>
                                        <th name="@student.Columns[3].ColumnName">年龄</th>
                                        <th name="@student.Columns[4].ColumnName"><i class="fa fa-address-book-o"></i>&nbsp;邮箱</th>
                                        <th name="@student.Columns[7].ColumnName"><i class="fa fa-mobile-phone fa-lg"></i>&nbsp;手机</th>
                                        <th name="@student.Columns[6].ColumnName"><i class="fa fa-qq"></i>&nbsp;QQ</th>
                                        <th name="@student.Columns[8].ColumnName"><i class="fa fa-graduation-cap"></i>&nbsp;毕业院校</th>
                                        <th name="@student.Columns[10].ColumnName"><i class="fa fa-hashtag"></i>&nbsp;专业</th>
                                        <th name="@student.Columns[11].ColumnName"><i class="fa fa-hashtag"></i>&nbsp;在读学位</th>
                                        <th name="@student.Columns[12].ColumnName"><i class="fa fa-hashtag"></i>&nbsp;年级</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (System.Data.DataRow rows in student.Rows)
                                    {
                                        <tr>
                                            <td hidden>@rows[0]</td>
                                            <td>@rows[1]</td>
                                            <td name="@rows[2].ToString().ToLower()">@rows[2]</td>
                                            <td>@rows[3]</td>
                                            <td>@rows[4]</td>
                                            <td>@rows[7]</td>
                                            <td>@rows[6]</td>
                                            <td>@rows[8]</td>
                                            <td>@rows[10]</td>
                                            <td name="@rows[11]">@rows[11]</td>
                                            <td name="@rows[12]">@rows[12]</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-bottom:2em;">
                        <button class="btn btn-info" id="addstudent"><i class="fa fa-plus"></i> 新增学生数据</button>
                        <button class="btn btn-danger" id="s_submitChange" onclick="submitChange('studenttable')"><i class="fa fa-upload"></i> 提交所有修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--管理教师-->
    <div class="tab-pane fade" id="teacher">
        <div style="margin-bottom:5%;margin-top:2%">
            <div class="page-header" style="margin-top:5px">
                <h3>
                    <small><i class="glyphicon glyphicon-tags"></i></small>
                    教师列表
                    <small></small>
                </h3>
            </div>
            <div class="container" style="margin-top:0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="teachertable">
                                <thead>
                                    <tr>
                                        <th name="@teacher.Columns[0].ColumnName" hidden></th>
                                        <th name="@teacher.Columns[1].ColumnName"><i class="fa fa-hashtag"></i>&nbsp;姓名 </th>
                                        <th name="@teacher.Columns[2].ColumnName"><i class="fa fa-female"></i><i class="fa fa-male"></i>&nbsp;</th>
                                        <th name="@teacher.Columns[4].ColumnName"><i class="fa fa-address-book-o"></i>&nbsp; 邮箱</th>
                                        <th name="@teacher.Columns[7].ColumnName"><i class="fa fa-mobile-phone fa-lg"></i>&nbsp; 手机</th>
                                        <th name="@teacher.Columns[6].ColumnName"><i class="fa fa-qq"></i>&nbsp; QQ</th>
                                        <th name="@teacher.Columns[8].ColumnName"><i class="fa fa-graduation-cap"></i>&nbsp; 毕业院校</th>
                                        <th name="@teacher.Columns[10].ColumnName"><i class="fa fa-hashtag"></i>&nbsp;专业</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (System.Data.DataRow rows in teacher.Rows)
                                    {
                                        <tr>
                                            <td hidden>@rows[0]</td>
                                            <td>@rows[1]</td>
                                            <td name="@rows[2].ToString().ToLower()">@rows[2]</td>
                                            <td>@rows[4]</td>
                                            <td>@rows[7]</td>
                                            <td>@rows[6]</td>
                                            <td>@rows[8]</td>
                                            <td>@rows[10]</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-bottom:2em;">
                        <button class="btn btn-info" id="addteacher"><i class="fa fa-plus"></i> 新增教师数据</button>
                        <button class="btn btn-danger" id="t_submitChange" onclick="submitChange('teachertable')"><i class="fa fa-upload"></i> 提交所有修改</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--管理课程-->
    <div class="tab-pane fade" id="course">
        <div style="margin-bottom:5%;margin-top:2%">
            <div class="page-header" style="margin-top:5px">
                <h3>
                    <small><i class="glyphicon glyphicon-tags"></i></small>
                    课程列表
                    <small></small>
                </h3>
            </div>
        </div>
    </div>
    <!--管理杂项-->
    <div class="tab-pane fade" id="miscellaneous">
        <div style="margin-bottom:5%;margin-top:2%">
            <div class="page-header" style="margin-top:5px">
                <h3>
                    <small><i class="glyphicon glyphicon-tags"></i></small>
                    管理所有用户
                    <small></small>
                </h3>
            </div>
            <a href="DisplayUsers" class="btn btn-info" onclick="solveConflictTable()">查看所有用户</a>
        </div>
        <div style="margin-bottom:5%;margin-top:2%">
            <div class="page-header" style="margin-top:5px">
                <h3>
                    <small><i class="glyphicon glyphicon-tags"></i></small>
                    管理教学楼
                    <small></small>
                </h3>
            </div>
        </div>
        <div style="margin-bottom:5%;margin-top:2%">
            <div class="page-header" style="margin-top:5px">
                <h3>
                    <small><i class="glyphicon glyphicon-tags"></i></small>
                    管理教室
                    <small></small>
                </h3>
            </div>
        </div>
    </div>
</div>

<script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
<script src="~/Scripts/bootstable.js"></script>
<script>
    window.onload = function loadPage() {
        //Change the database field to human readable. Not on teachertable due to it has been processed at backend.
        var tds = document.getElementById('studenttable').getElementsByTagName('td');  //student table
        DisplayHumanReadable(tds);
        tds = document.getElementById('teachertable').getElementsByTagName('td');       //teacher table
        DisplayHumanReadable(tds);
        showTeachWeek();                //显示教学周

        //-----------------------------------------处理tab pane显示问题Begin-----------------------------------------//
        //!!!不知道为什么后台传过来的值如果第一个字符是“#”，前端就无法接收到这个值。
        //var item = "ViewData["tab"].ToString()";
        var href = window.location.href.toString().split('#')[window.location.href.toString().split('#').length - 1];
        var tagid = "";
        switch (href) {
            case 'student': tagid = href + "_tab"; break;
            case 'teacher': tagid = href + "_tab"; break;
            case 'course': tagid = href + "_tab"; break;
            case 'miscellaneous': tagid = href + "_tab"; break;
            default: tagid = "student_tab"; href = "student"; break;
        }

        document.getElementById(href).setAttribute("class", "tab-pane fade in active");
        document.getElementById(tagid).setAttribute("class", "active");
        //-----------------------------------------处理tab pane显示问题End-----------------------------------------//
    }

    //把数据库拿出来的非可读性文字转化为可读性文字如：M（男性），F（女性）..
    function DisplayHumanReadable(tds) {
        for (var i = 0; i < tds.length; i++) {
            if (tds[i].hasAttribute('name') == true) {
                switch (tds[i].getAttribute('name')) {
                    case 'm': tds[i].innerHTML = "男"; break;
                    case 'f': tds[i].innerHTML = "女"; break;
                    case 'u': tds[i].innerHTML = "未知"; break;
                    case 'B': tds[i].innerHTML = "学士"; break;
                    case 'M': tds[i].innerHTML = "硕士"; break;
                    case 'D': tds[i].innerHTML = "博士"; break;
                    case 'FR': tds[i].innerHTML = "大一"; break;
                    case 'SO': tds[i].innerHTML = "大二"; break;
                    case 'JU': tds[i].innerHTML = "大三"; break;
                    case 'SE': tds[i].innerHTML = "大四"; break;
                }
            }
        }
    }

    //与DisplayHumanReadable()功能相反
    function RevertToDatabaseTypes(tds, inputs) {
        for (var i = 0; i < tds.length; i++) {
            switch (tds[i].innerHTML) {
                case '男': tds[i].innerHTML = "M"; break;
                case '女': tds[i].innerHTML = "F"; break;
                case '未知': tds[i].innerHTML = "U"; break;
                case '学士': tds[i].innerHTML = "B"; break;
                case '硕士': tds[i].innerHTML = "M"; break;
                case '博士': tds[i].innerHTML = "D"; break;
                case '大一': tds[i].innerHTML = "FR"; break;
                case '大二': tds[i].innerHTML = "SO"; break;
                case '大三': tds[i].innerHTML = "JU"; break;
                case '大四': tds[i].innerHTML = "SE"; break;
            }
        }
        if (inputs.length == 0) {
            return;
        }
        else {
            for (var i = 0; i < inputs.length; i++) {
                switch (inputs[i].value) {
                    case '男': inputs[i].value = "M"; break;
                    case '女': inputs[i].value = "F"; break;
                    case '未知': inputs[i].value = "U"; break;
                    case '学士': inputs[i].value = "B"; break;
                    case '硕士': inputs[i].value = "M"; break;
                    case '博士': inputs[i].value = "D"; break;
                    case '大一': inputs[i].value = "FR"; break;
                    case '大二': inputs[i].value = "SO"; break;
                    case '大三': inputs[i].value = "JU"; break;
                    case '大四': inputs[i].value = "SE"; break;
                }
            }
        }

    }

    function submitChange(clickedBy) {
        var tds = document.getElementById(clickedBy).getElementsByTagName('td');
        var inputs = document.getElementById(clickedBy).getElementsByTagName('input');
        RevertToDatabaseTypes(tds, inputs);
        var destThs = document.getElementById(clickedBy).children[0].children[0].children;        //The trs in the thead part of the table
        var destTrs = document.getElementById(clickedBy).children[1].children;        //The trs in the tbody part of the table
        clickedBy = clickedBy == "studenttable" ? "student_information" : "teacher_information";
        var cmdTxt = "", sep = ";";
        for (var t in destTrs) {
            //----------------------------------------Case Analysis Begin-----------------------------------------------//
            //对修改表格下面只分析了两种情况：
            //（1）即修改了表格中某一行但是没有点击行末的确认按钮，此时点击提交所有更改会将这部分修改提交；
            //（2）即修改了表格中某一行并且点击了行末的确认按钮，此种情况也会提交；
            //第三种情况存在，但未做处理：
            //（3）即第一次修改了表格中某一行，点击了行末的确认按钮；再点击该行进行修改，但点击了取消按钮；
            //         此种情况应该提交第一次做出的修改，可是根据下面的逻辑，点击取消之后该行不会提交；
            //----------------------------------------Case Analysis Middle---------------------------------------------//
            if (destTrs[t].id == 'editing') {           //Not knowing why 【destTrs[t].getAttribute('id')】 doesn't work!
                //此处完成未点击【bAcep】（即table中行元素的提交）按钮的修改项：提交
                var conditionString = " where " + destThs[0].getAttribute('name') + "='" + destTrs[t].children[0].children[1].value + "'";
                var updateString = "update " + clickedBy + " set ";
                var loopStr = "";
                for (var i = 1; i < destTrs[t].children.length - 1; i++) {
                    var key = destThs[i].getAttribute('name');
                    var val = destTrs[t].children[i].children[1].value;
                    loopStr += key + "='" + val + "',";
                }
                loopStr = loopStr.substr(0, loopStr.length - 1);
                updateString = updateString + loopStr + conditionString;
                cmdTxt += updateString + sep;
            }
            else if (destTrs[t].id == 'edited') {       //Not knowing why 【destTrs[t].getAttribute('id')】 doesn't work!
                //此处完成点击【bAcep】（即table中行元素的提交）按钮的修改项的：提交
                var conditionString = " where " + destThs[0].getAttribute('name') + "='" + destTrs[t].children[0].innerText + "'";
                var updateString = "update " + clickedBy + " set ";
                var loopStr = "";
                for (var i = 1; i < destTrs[t].children.length - 1; i++) {
                    var key = destThs[i].getAttribute('name');
                    var val = destTrs[t].children[i].innerText;
                    loopStr += key + "='" + val + "',";
                }
                loopStr = loopStr.substr(0, loopStr.length - 1);
                updateString = updateString + loopStr + conditionString;
                cmdTxt += updateString + sep;
            }
            else {
                //此处完成未修改项：不提交
            }
            //----------------------------------------Case Analysis End---------------------------------------------//
        }
        cmdTxt = cmdTxt.substr(0, cmdTxt.length - 1);
        var parames = new Array();
        parames.push({ name: "cmdTxt", value: cmdTxt });

        Post("ModifyMultipleUsers", parames);
    }
</script>
<script>
    $('#studenttable').SetEditable({
        $addButton: $('#addstudent')
    });
    $('#teachertable').SetEditable({
        $addButton: $('#addteacher')
    });
</script>


<script>
    // 由此上一行开始的script至其结束之间代码的功能是获得当前教学周并显示（来源：网络）。
    function getSt(year, month, day) {
        var curDate = new Date();
        curDate.getTime();
        var beginDate = new Date(year, month, day, 0, 0, 0);
        return Math.ceil((curDate - beginDate) / (1000 * 60 * 60 * 24 * 7));
    }
    function show1() {
        var xn = "2017-2018";
        var xq = 2;
        var StartWeek = 1;
        var result = xn + "学年 第" + xq + "学期 第" + getSt(2018, 2, 5) + "教学周";
        return result;
    }
    function showTeachWeek() {
        calendar = new Date();
        day = calendar.getDay();
        month = calendar.getMonth();
        date = calendar.getDate();
        year = calendar.getYear();
        if (year < 200) year = 1900 + year;
        cent = parseInt(year / 100);
        g = year % 19;
        k = parseInt((cent - 17) / 25);
        i = (cent - parseInt(cent / 4) - parseInt((cent - k) / 3) + 19 * g + 15) % 30;
        i = i - parseInt(i / 28) * (1 - parseInt(i / 28) * parseInt(29 / (i + 1)) * parseInt((21 - g) / 11));
        j = (year + parseInt(year / 4) + i + 2 - cent + parseInt(cent / 4)) % 7;
        l = i - j;
        emonth = 3 + parseInt((l + 40) / 44);
        edate = l + 28 - 31 * parseInt((emonth / 4));
        emonth--;

        var dayname = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六");
        var monthname =
            new Array("1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月");

        var a = year + "年" + monthname[month] + date + "日" + dayname[day] + " " + " （" + show1() + " ）";
        document.getElementById("showDate").innerHTML = a;
    }

    //Copied from Login.cshtml
    function Post(URL, PARAMTERS) {
        //创建form表单
        var temp_form = document.createElement("form");
        temp_form.action = URL;
        //如需打开新窗口，form的target属性要设置为'_blank'
        temp_form.target = "_self";
        temp_form.method = "post";
        temp_form.style.display = "none";
        //添加参数
        for (var item in PARAMTERS) {
            var opt = document.createElement("textarea");
            opt.name = PARAMTERS[item].name;
            opt.value = PARAMTERS[item].value;
            temp_form.appendChild(opt);
        }
        document.body.appendChild(temp_form);
        //提交数据
        temp_form.submit();
    }
    //该函数在点击panel的header时调用，用来切换当前活动状态的panel。
    //function checkPane(param) {
    //    window.location.href = window.location.href.toString().split('#')[0] + param;
    //    if (param == "#ejb" || param == "#jmeter") {
    //        if (param == "#ejb") {
    //            document.getElementById("jmeter_tab").removeAttribute("class");
    //        }
    //        else {
    //            document.getElementById("ejb_tab").removeAttribute("class");
    //        }
    //        document.getElementById("jmeter_ejb_tab").setAttribute("class", "active");
    //    }
    //    else {
    //        document.getElementById("ejb_tab").removeAttribute("class");
    //        document.getElementById("jmeter_tab").removeAttribute("class");
    //    }
    //window.location.href = window.location.href.toString().split('?')[0] + "?tab=" + param.toString().substring(1, param.length);
    //alert(window.location.href);
    //}
</script>