@model System.Data.DataTable
@{
    ViewBag.Title = "Display Users";
}
@*<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/htmleaf-demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/samples-styles.css" />*@
<style type="text/css">
    td.alt {
        background-color: #ffc;
        background-color: rgba(230, 127, 34, 0.2);
    }
</style>

<h2>用户注册表</h2>
<br />
<div class="container">
    <div class="input-group">
        <div class="input-group-addon">搜索</div>
        <input class="form-control" type="search" id="input-filter" size="15" placeholder="搜索表格中的条目" />
    </div>
    <table class="table">
        <thead>
            <tr>
                @*@foreach (var col in Model.Columns)
                    {
                        <td>@col</td>
                    }*@
                <th>姓名 </th>
                <th>电子邮箱</th>
                <th>注册日期</th>
                <th>用户类型</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (System.Data.DataRow rows in Model.Rows)
            {
                <tr>
                    <td><a style="color:blue" href="SpecificUser?id=@rows[0]">@rows[1]</a></td>
                    <td><a onclick="sendEmail()">@rows[2]</a> </td>
                    <td>@rows[3]</td>
                    <td>@rows[4]</td>
                    <td><label><a href="#" style="color:lightblue">管理</a></label></td>
                </tr>

            }
        </tbody>
    </table>
</div>

@*<div class="htmleaf-content container">
        <div class="input-group">
            <div class="input-group-addon">过滤条件</div>
            <input class="form-control" type="search" id="input-filter" size="15" placeholder="输入过滤条件" />
        </div>
        <br>
        <table class="">
            <thead>
                <tr>
                    @foreach (var col in Model.Columns)
                    {
                        <td>@col</td>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (System.Data.DataRow rows in Model.Rows)
                {
                    <tr>
                        @foreach (var row in rows.ItemArray)
                        {

                            <td>@row</td>

                        }
                        <td><label><a href="#">删除</a></label></td>
                    </tr>

                }
            </tbody>
        </table>
    </div>*@

<script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.filtertable.min.js"></script>

<script>
    $(document).ready(function () {
        $('table').filterTable({ // apply filterTable to all tables on this page
            inputSelector: '#input-filter' // use the existing input instead of creating a new one
        });
    });

    function sendEmail() {
        alert("Email Sent!")
    }
</script>