@model System.Data.DataSet
@{
    ViewBag.Title = "TeacherMainPage";

    System.Data.DataTable CoursesOfTeacher = Model.Tables["CoursesOfTeacher"];
    System.Data.DataTable this_semester_course = Model.Tables["this_semester_course"];
    System.Data.DataTable AllMyStudent = Model.Tables["AllMyStudent"];
    System.Data.DataTable courseTable = Model.Tables["courseTable"];

    string[] Count_All = new string[CoursesOfTeacher.Rows.Count];
    int counts = 0;
    for (int index = 0; index < CoursesOfTeacher.Rows.Count; index++)
    {
        Count_All[index] = Model.Tables["count" + CoursesOfTeacher.Rows[index][0].ToString()].Rows[0][0].ToString();
        counts += Convert.ToInt32(Count_All[index]);
    }


    DateTime date = DateTime.Now.Date;
    //Get the current workday
    DayOfWeek dayOfweek = date.DayOfWeek;
    DateTime[] wholeweek = new DateTime[7];
    TimeSpan timespan = new TimeSpan(1, 0, 0, 0);
    if (dayOfweek == DayOfWeek.Sunday)
    {
        wholeweek[(int)dayOfweek] = date;
        while (dayOfweek < DayOfWeek.Saturday)
        {
            wholeweek[(int)dayOfweek + 1] = wholeweek[(int)dayOfweek] + timespan;
            dayOfweek++;
        }
    }
    else if (dayOfweek == DayOfWeek.Saturday)
    {
        wholeweek[(int)dayOfweek] = date;
        while (dayOfweek > DayOfWeek.Sunday)
        {
            wholeweek[(int)dayOfweek - 1] = wholeweek[(int)dayOfweek] - timespan;
            dayOfweek--;
        }
    }
    else
    {
        int sunday = 0, saturday = 6;
        wholeweek[(int)dayOfweek] = date;
        while (sunday < (int)dayOfweek)
        {
            wholeweek[sunday] = wholeweek[(int)dayOfweek] - new TimeSpan((int)dayOfweek - sunday, 0, 0, 0);
            sunday++;
        }
        while ((int)dayOfweek < saturday)
        {
            wholeweek[saturday] = wholeweek[(int)dayOfweek] + new TimeSpan(saturday - (int)dayOfweek, 0, 0, 0);
            saturday--;
        }
    }

    System.Data.DataRow[] home1 = Model.Tables["this_semester_course"].Select("startDate like'" + wholeweek[0].ToString("yyyy-MM-dd") + "%'");
    System.Data.DataRow[] home2 = Model.Tables["this_semester_course"].Select("startDate like'" + wholeweek[1].ToString("yyyy-MM-dd") + "%'");
    System.Data.DataRow[] home3 = Model.Tables["this_semester_course"].Select("startDate like'" + wholeweek[2].ToString("yyyy-MM-dd") + "%'");
    System.Data.DataRow[] home4 = Model.Tables["this_semester_course"].Select("startDate like'" + wholeweek[3].ToString("yyyy-MM-dd") + "%'");
    System.Data.DataRow[] home5 = Model.Tables["this_semester_course"].Select("startDate like'" + wholeweek[4].ToString("yyyy-MM-dd") + "%'");
    System.Data.DataRow[] home6 = Model.Tables["this_semester_course"].Select("startDate like'" + wholeweek[5].ToString("yyyy-MM-dd") + "%'");
    System.Data.DataRow[] home7 = Model.Tables["this_semester_course"].Select("startDate like'" + wholeweek[6].ToString("yyyy-MM-dd") + "%'");
}



<div class="form-inline">
    <h2>欢迎你！@ViewData["V_uname"].ToString()老师</h2>
    <div>
        <p id="showDate" style="padding-top:1%;color:midnightblue"></p>
    </div>
</div>
<br />
<ul id="myTab" class="nav nav-tabs">
    <li id="home_tab">
        <a href="#home" role="tab" data-toggle="tab" onclick="checkPane(this.getAttribute('href'))">
            首页
        </a>
    </li>
    <li id="ios_tab"><a href="#ios" role="tab" data-toggle="tab" onclick="checkPane(this.getAttribute('href'))">个人中心</a></li>
    <li id="jmeter_ejb_tab" class="dropdown">
        <a href="#" id="myTabDrop1" class="dropdown-toggle"
           data-toggle="dropdown">
            我的消息
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
            <li id="jmeter_tab"><a href="#jmeter" tabindex="-1" role="tab" data-toggle="tab" onclick="checkPane(this.getAttribute('href'))">课程相关</a></li>
            <li id="ejb_tab"><a href="#ejb" tabindex="-1" role="tab" data-toggle="tab" onclick="checkPane(this.getAttribute('href'))">学生相关</a></li>
        </ul>
    </li>
</ul>

<div id="myTabContent" class="tab-content">

    <div id="home" class="tab-pane fade" style="padding-top:20px">

        <div style="margin-bottom:5%">
            <div class="page-header" style="margin-top:5px">
                <h3>
                    <small><i class="glyphicon glyphicon-tags"></i></small>
                    本周课表
                    <small><span style="font-size:smaller">一共有<span>8</span>节课</span></small>
                </h3>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">课时/日期</th>
                        <th id="星期日" scope="col">星期日（@wholeweek[0].Date.ToString("MM-dd")）</th>
                        <th id="星期一" scope="col">星期一（@wholeweek[1].Date.ToString("MM-dd")）</th>
                        <th id="星期二" scope="col">星期二（@wholeweek[2].Date.ToString("MM-dd")）</th>
                        <th id="星期三" scope="col">星期三（@wholeweek[3].Date.ToString("MM-dd")）</th>
                        <th id="星期四" scope="col">星期四（@wholeweek[4].Date.ToString("MM-dd")）</th>
                        <th id="星期五" scope="col">星期五（@wholeweek[5].Date.ToString("MM-dd")）</th>
                        <th id="星期六" scope="col">星期六（@wholeweek[6].Date.ToString("MM-dd")）</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1,2</th>
                        <td name="GA"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][6]">@courseTable.Rows[0][6]</a></td>
                        <td name="AA"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][0]">@courseTable.Rows[0][0]</a></td>
                        <td name="BA"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][1]">@courseTable.Rows[0][1]</a></td>
                        <td name="CA"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][2]">@courseTable.Rows[0][2]</a></td>
                        <td name="DA"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][3]">@courseTable.Rows[0][3]</a></td>
                        <td name="EA"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][4]">@courseTable.Rows[0][4]</a></td>
                        <td name="FA"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][5]">@courseTable.Rows[0][5]</a></td>
                    </tr>
                    <tr>
                        <th scope="row">3,4</th>
                        <td name="GB"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][13]">@courseTable.Rows[0][13]</a></td>
                        <td name="AB"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][7]">@courseTable.Rows[0][7]</a></td>
                        <td name="BB"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][8]">@courseTable.Rows[0][8]</a></td>
                        <td name="CB"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][9]">@courseTable.Rows[0][9]</a></td>
                        <td name="DB"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][10]">@courseTable.Rows[0][10]</a></td>
                        <td name="EB"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][11]">@courseTable.Rows[0][11]</a></td>
                        <td name="FB"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][12]">@courseTable.Rows[0][12]</a></td>
                    </tr>
                    <tr>
                        <th scope="row">3,4,5</th>
                        <td name="GC"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][20]">@courseTable.Rows[0][20]</a></td>
                        <td name="AC"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][14]">@courseTable.Rows[0][14]</a></td>
                        <td name="BC"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][15]">@courseTable.Rows[0][15]</a></td>
                        <td name="CC"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][16]">@courseTable.Rows[0][16]</a></td>
                        <td name="DC"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][17]">@courseTable.Rows[0][17]</a></td>
                        <td name="EC"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][18]">@courseTable.Rows[0][18]</a></td>
                        <td name="FC"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][19]">@courseTable.Rows[0][19]</a></td>
                    </tr>
                    <tr>
                        <th scope="row">6,7</th>
                        <td name="GD"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][27]">@courseTable.Rows[0][27]</a></td>
                        <td name="AD"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][21]">@courseTable.Rows[0][21]</a></td>
                        <td name="BD"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][22]">@courseTable.Rows[0][22]</a></td>
                        <td name="CD"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][23]">@courseTable.Rows[0][23]</a></td>
                        <td name="DD"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][24]">@courseTable.Rows[0][24]</a></td>
                        <td name="ED"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][25]">@courseTable.Rows[0][25]</a></td>
                        <td name="FD"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][26]">@courseTable.Rows[0][26]</a></td>
                    </tr>
                    <tr>
                        <th scope="row">8,9</th>
                        <td name="GE"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][34]">@courseTable.Rows[0][34]</a></td>
                        <td name="AE"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][28]">@courseTable.Rows[0][28]</a></td>
                        <td name="BE"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][29]">@courseTable.Rows[0][29]</a></td>
                        <td name="CE"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][30]">@courseTable.Rows[0][30]</a></td>
                        <td name="DE"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][31]">@courseTable.Rows[0][31]</a></td>
                        <td name="EE"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][32]">@courseTable.Rows[0][32]</a></td>
                        <td name="FE"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][33]">@courseTable.Rows[0][33]</a></td>
                    </tr>
                    <tr>
                        <th scope="row">10,11,12</th>
                        <td name="GF"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][41]">@courseTable.Rows[0][41]</a></td>
                        <td name="AF"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][35]">@courseTable.Rows[0][35]</a></td>
                        <td name="BF"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][36]">@courseTable.Rows[0][36]</a></td>
                        <td name="CF"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][37]">@courseTable.Rows[0][37]</a></td>
                        <td name="DF"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][38]">@courseTable.Rows[0][38]</a></td>
                        <td name="EF"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][39]">@courseTable.Rows[0][39]</a></td>
                        <td name="FF"><a href="../Courses/MyCourse?id=@courseTable.Rows[1][40]">@courseTable.Rows[0][40]</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="margin-bottom:5%">
            <div class="page-header" style="margin-top:5px">
                <h3>
                    <small><i class="glyphicon glyphicon-tags"></i></small>
                    本学期开设课程
                    <small><span style="font-size:smaller">一共有<span>@CoursesOfTeacher.Rows.Count</span>门课</span></small>
                </h3>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>课程名称</th>
                        <th>开始日期</th>
                        <th>结束日期</th>
                        <th>上课地点</th>
                        <th>上课时间</th>
                        <th>选课人数</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (System.Data.DataRow row in CoursesOfTeacher.Rows)
                    {
                        <tr>
                            <td><a href="../Courses/MyCourse?id=@row[0]"> @row[1] </a> </td>
                            <td>@row[4]</td>
                            <td>@row[5]</td>
                            <td>@row[6]</td>
                            <td>@row[7]</td>
                            <td>@Count_All[CoursesOfTeacher.Rows.IndexOf(row)]</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div style="margin-bottom:5%">
            <div class="page-header" style="margin-top:5px">
                <h3>
                    <small><i class="glyphicon glyphicon-tags"></i></small>
                    本学期学生
                    <small><span style="font-size:smaller">一共有<span>@counts.ToString()</span>人</span></small>
                </h3>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>学生姓名</th>
                        <th>性别</th>
                        <th>来自课程</th>
                        <th>成绩</th>
                        <th>是否已结束</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (System.Data.DataRow row in AllMyStudent.Rows)
                    {
                        var x = row[2].ToString() == "M" ? "男" : "女";
                        <tr>
                            <td><a href="SpecificUser?id=@row[0]"> @row[1] </a> </td>
                            <td>@x</td>
                            <td>Placeholder</td>
                            <td>Placeholder</td>
                            <td>Placeholder</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>

    <div id="ios" class="tab-pane fade" style="padding-top:20px">

        <div style="margin-bottom:5%">
            <div class="page-header" style="margin-top:5px">
                <h3>
                    <small><i class="glyphicon glyphicon-tags"></i></small>
                    课程计划
                    <small><span style="font-size:smaller"></span></small>
                </h3>
            </div>

            <a id="newCourse" href="../Courses/AddCourses" class="btn btn-primary">发布新课程</a>
        </div>

        <div style="margin-bottom:5%">
            <div class="page-header" style="margin-top:5px">
                <h3>
                    <small><i class="glyphicon glyphicon-tags"></i></small>
                    我开设的课程
                    <small><span style="font-size:smaller">一共有<span>8</span>门课</span></small>
                </h3>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>课程名称</th>
                        <th>是否结束</th>
                        <th>开课周期</th>
                        <th>上课信息</th>
                        <th>其他</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (System.Data.DataRow row in CoursesOfTeacher.Rows)
                    {
                        <tr>
                            <td><a href="../Courses/MyCourse?id=@row[0]"> @row[1] </a> </td>
                            <td>@row[4]</td>
                            <td>@row[5]</td>
                            <td>@row[6]</td>
                            <td>@row[7]</td>
                            <td>@Count_All[CoursesOfTeacher.Rows.IndexOf(row)]</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div style="margin-bottom:5%">
            <div class="page-header" style="margin-top:5px">
                <h3>
                    <small><i class="glyphicon glyphicon-tags"></i></small>
                    我教过的学生
                    <small><span style="font-size:smaller">一共有<span>8</span>人</span></small>
                </h3>
            </div><table class="table table-striped">
                <thead>
                    <tr>
                        <th>学生姓名</th>
                        <th>性别</th>
                        <th>来自课程</th>
                        <th>成绩</th>
                        <th>是否已结束</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (System.Data.DataRow row in AllMyStudent.Rows)
                    {
                        var x = row[2].ToString() == "M" ? "男" : "女";
                        <tr>
                            <td><a href="SpecificUser?id=@row[0]"> @row[1] </a> </td>
                            <td>@x</td>
                            <td>Placeholder</td>
                            <td>Placeholder</td>
                            <td>Placeholder</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>

    </div>

    <div class="tab-pane fade" id="jmeter" style="padding-top:20px">

        Lorem ipsum dolor sit amet, consectetur adipiscing elit.3

    </div>

    <div class="tab-pane fade" id="ejb" style="padding-top:20px">

        Lorem ipsum dolor sit amet, consectetur adipiscing elit.4

    </div>

</div>

<script>
    // 由此上一行开始的script至其结束之间代码的功能是获得当前教学周并显示（来源：网络）。
    function getSt(year, month, day) {
        var curDate = new Date();
        curDate.getTime();
        var beginDate = new Date(year, month, day, 0, 0, 0);
        return Math.ceil((curDate - beginDate) / (1000 * 60 * 60 * 24 * 7));
    }
    function show1() {
        var xn = "2017-2018";
        var xq = 2;
        var StartWeek = 1;
        var result = xn + "学年 第" + xq + "学期 第" + getSt(2018, 2, 5) + "教学周";
        return result;
    }
    calendar = new Date();
    day = calendar.getDay();
    month = calendar.getMonth();
    date = calendar.getDate();
    year = calendar.getYear();
    if (year < 200) year = 1900 + year;
    cent = parseInt(year / 100);
    g = year % 19;
    k = parseInt((cent - 17) / 25);
    i = (cent - parseInt(cent / 4) - parseInt((cent - k) / 3) + 19 * g + 15) % 30;
    i = i - parseInt(i / 28) * (1 - parseInt(i / 28) * parseInt(29 / (i + 1)) * parseInt((21 - g) / 11));
    j = (year + parseInt(year / 4) + i + 2 - cent + parseInt(cent / 4)) % 7;
    l = i - j;
    emonth = 3 + parseInt((l + 40) / 44);
    edate = l + 28 - 31 * parseInt((emonth / 4));
    emonth--;

    var dayname = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六");
    var monthname =
        new Array("1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月");

    var a = year + "年" + monthname[month] + date + "日" + dayname[day] + " " + " （" + show1() + " ）";
    document.getElementById("showDate").innerHTML = a;
    document.getElementById(dayname[day]).setAttribute("style", "background-color:lightblue");
</script>

<script>
    //该函数在页面加载完成时调用（相当于body onload="loadTip()"），用来保持页面刷新后仍在当前panel。
    window.onload = function loadTip() {
        //!!!不知道为什么后台传过来的值如果第一个字符是“#”，前端就无法接收到这个值。
        //var item = "ViewData["tab"].ToString()";
        var href = window.location.href.toString().split('#')[window.location.href.toString().split('#').length - 1];
        var tagid = "";
        if (href == "ios") {
            tagid = href + "_tab";
        }
        else if (href == "ejb" || href == "jmeter") {
            document.getElementById(href).setAttribute("class", "tab-pane fade in active");
            document.getElementById("jmeter_ejb_tab").setAttribute("class", "active");
            return;
        }
        else {
            tagid = "home_tab";
            href = "home";
        }

        //var tagpane = document.getElementsByClassName("tab-pane fade in active")[0].getAttribute("id");
        document.getElementById(href).setAttribute("class", "tab-pane fade in active");
        document.getElementById(tagid).setAttribute("class", "active");
    }

    //该函数在点击panel的header时调用，用来切换当前活动状态的panel。
    function checkPane(param) {
        window.location.href = window.location.href.toString().split('#')[0] + param;
        if (param == "#ejb" || param == "#jmeter") {
            if (param == "#ejb") {
                document.getElementById("jmeter_tab").removeAttribute("class");
            }
            else {
                document.getElementById("ejb_tab").removeAttribute("class");
            }
            document.getElementById("jmeter_ejb_tab").setAttribute("class", "active");
        }
        else {
            document.getElementById("ejb_tab").removeAttribute("class");
            document.getElementById("jmeter_tab").removeAttribute("class");
        }
        //window.location.href = window.location.href.toString().split('?')[0] + "?tab=" + param.toString().substring(1, param.length);
        //alert(window.location.href);
    }
</script>
