<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>
    <script type="text/javascript" language="javascript">
        //$(document).ready(function () {
        //    $.ajax({
        //        type: "POST",
        //        url: "/Home/IfLogged",
        //        data: "",
        //        success: function (response) {
        //            if (response == "N") {
        //                document.getElementById("logout").innerHTML = "请登录";
        //                document.getElementById("logout").removeAttribute("onclick");
        //                document.getElementById("logout").setAttribute("href", "../Users/Login");
        //                //document.getElementById("logout").removeAttribute("href");
        //                //document.getElementById("logout").setAttribute("style", "visibility:hidden");
        //            }
        //        }
        //    });
        //});
        function clearCookie() {
            localStorage.removeItem("storageid");
            localStorage.removeItem("storagepass");
        }
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top" style="background-color:black">
        <div class="container">
            <div class="navbar-header" style=";color:papayawhip">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"><i class="fa fa-university fa-lg"></i></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("学生选课管理信息系统", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="color:papayawhip">@Html.ActionLink("主页", "MainPage", "Users")</li>
                    <li style="color:papayawhip">@Html.ActionLink("关于", "About", "Home")</li>
                    <li style="color:papayawhip">@Html.ActionLink("每日一句", "Everyday", "Home")</li>
                    @{
                        if (Session["S_user"] != null)
                        {
                            <li style="float:right"><a id="logout" href="../Home/Logout" onclick="clearCookie()">注销</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p id="a_footer">&copy; @DateTime.Now.Year - 学生选课管理信息系统</p>
        </footer>
        <br />
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
