@model System.Data.DataSet
@{
    System.Data.DataTable c = Model.Tables["courseInfo"];
    System.Data.DataTable t = Model.Tables["teacherInfo"];

    System.Data.DataRow crow = c.Rows[0];
    System.Data.DataRow trow = t.Rows[0];

    ViewBag.Title = crow[1] + "-学生选课管理信息系统";
    GradutionProject.Models.PeriodGetter P = new GradutionProject.Models.PeriodGetter();
}

<body onload="onButtonLoad()">
    <h2 style="display:inline-block">
        @crow[1]
    </h2>
    <h4 style="display:inline-block">
        @{
            if (ViewData["V_state"].ToString() == GradutionProject.Models.ManipCourseType.C.ToString())
            {
                <span class="label label-info">已选</span>
                <span class="label label-info">已收藏</span>
            }
            else if (ViewData["V_state"].ToString() == GradutionProject.Models.ManipCourseType.A.ToString())
            {
                <span class="label label-info">已选</span>
            }
            else if (ViewData["V_state"].ToString() == GradutionProject.Models.ManipCourseType.B.ToString())
            {
                <span class="label label-info">已收藏</span>
            }
            else
            {

            }
        }
    </h4>
    <br /><br />

    <ul class="btn-group btn-group-justified">
        <li id="choose" class="btn btn-default" style="background-color:#CCFF99" onclick="choose()"> <i class="glyphicon glyphicon-remove-sign"></i>&nbsp;&nbsp;加入我的课表</li>
        <li id="collect" class="btn btn-default" style="background-color:#CCFF99" onclick="collect()"> <i class="glyphicon glyphicon-remove-sign"></i>&nbsp;&nbsp;收藏该课程</li>
        <li id="back" class="btn btn-default" style="background-color: #FFCA5F" onclick="returnToList()"> <i class="glyphicon glyphicon-remove-sign"></i>&nbsp;&nbsp;返回课程列表</li>
    </ul>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6" style="margin-top:3%;margin-bottom:3%">
                <div>
                    <div class="progress" style="margin-bottom:1px">
                        <progress value="50" max="100" style="width:100%"></progress>
                    </div>
                    <p class="text-warning">
                        <i class="glyphicon glyphicon-asterisk" style="font-size:x-small"></i>
                        课程容量一共<span id="total_amount"></span>人，现在该门课已经有<span id="selected_amount"></span>个人选择。
                    </p>
                </div>
                <br />
                <p>
                    <em>Git</em>是一个分布式的版本控制系统，最初由<strong>Linus Torvalds</strong>编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在Ruby社区中。
                </p>

            </div>

            <div class="span6">
                <dl>
                    <dt class="form-control" style="width:35%;background-color:darkgrey">
                        任课教师
                    </dt>
                    <dd style="margin-top:5px;margin-bottom:5px;font-size:larger">
                        @trow[1]
                    </dd>
                    <dt class="form-control" style="width:35%;background-color:darkgrey">
                        发布时间
                    </dt>
                    <dd style="margin-top:5px;margin-bottom:5px;font-size:larger">
                        @crow[3]
                    </dd>
                    <dt class="form-control" style="width:35%;background-color:darkgrey">
                        结束选课时间
                    </dt>
                    <dd style="margin-top:5px;margin-bottom:5px;font-size:larger">
                        @crow[4]
                    </dd>
                    <dt class="form-control" style="width:35%;background-color:darkgrey">
                        课程结束时间
                    </dt>
                    <dd style="margin-top:5px;margin-bottom:5px;font-size:larger">
                        @crow[5]
                    </dd>
                    <dt class="form-control" style="width:35%;background-color:darkgrey">
                        考试时间
                    </dt>
                    <dd style="margin-top:5px;margin-bottom:5px;font-size:larger">
                        @crow[8]
                    </dd>
                    <dt class="form-control" style="width:35%;background-color:darkgrey">
                        上课地点
                    </dt>
                    <dd style="margin-top:5px;margin-bottom:5px;font-size:larger">
                        @crow[6]
                    </dd>
                    <dt class="form-control" style="width:35%;background-color:darkgrey">
                        上课时间
                    </dt>
                    <dd style="margin-top:5px;margin-bottom:5px;font-size:larger">
                        @P.Period[crow[7].ToString()]
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <br /><br />
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6">
                <p>
                    <em>Git</em>是一个分布式的版本控制系统，最初由<strong>Linus Torvalds</strong>编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在Ruby社区中。
                </p>
            </div>
            <div class="span6">
                <p>
                    <em>Git</em>是一个分布式的版本控制系统，最初由<strong>Linus Torvalds</strong>编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在Ruby社区中。
                </p>
            </div>
        </div>
    </div>
</body>

@*                course_information                              teacher_information
     0               courseID      |                                 uniqueClientI
     1               courseName    |                                 name        |
     2               courseTeacher |                                 gender      |
     3               publishDate   |                                 age         |
     4               startDate     |                                 email       |
     5               endDate       |                                 wechat      |
     6               venue         |                                 qqNumber    |
     7               period        |                                 phone       |
     8               examID        |                                 university  |
     9               chosen        |                                 college     |
    10               collected     |                                 major       |
    11               courseInfo    |                                 workNo      |
    12               detailInfo    |                                 workPass    |
    13               subTag        |                                 courses     |         *@

<script>
    function choose(){
        location.href = 'ChooseCourse';
    }
    function unchoose(){
        location.href = 'UnchooseCourse';
    }
    function collect(){
        location.href = 'CollectCourse';
    }
    function uncollect(){
        location.href = 'UncollectCourse';
    }
    function returnToList (){
        location.href = 'DisplayCourses';
    }


    function onButtonLoad() {
        var ifselected = "@ViewData["V_state"].ToString()";
        var button1, button2;
        button1 = document.getElementById("choose");
        button2 = document.getElementById("collect");
        if (ifselected == "A") {
            button1.setAttribute("onclick", "unchoose()");
            button1.setAttribute("style", "background-color:#FE7368");
            button1.innerHTML = "移出我的课表";
        }
        else if (ifselected == "B") {
            button2.setAttribute("onclick", "uncollect()");
            button2.setAttribute("style", "background-color:#FE7368");
            button2.innerHTML = "取消收藏";
        }
        else if (ifselected == "C") {
            button1.setAttribute("onclick", "unchoose()");
            button1.setAttribute("style", "background-color:#FE7368");
            button1.innerHTML = "移出我的课表";

            button2.setAttribute("onclick", "uncollect()");
            button2.setAttribute("style", "background-color:#FE7368");
            button2.innerHTML = "取消收藏";
        }
        else {

        }
        //function getCookie()
        document.getElementById('total_amount').innerHTML = (sessionStorage.c_amt).split('_')[0];
        document.getElementById('selected_amount').innerHTML = (sessionStorage.c_amt).split('_')[1];
    }

    //设置按钮可用性
    //document.getElementById("collect").setAttribute("disabled","disabled")


</script>







@*<link href="https://cdn.bootcss.com/bootstrap/3.0.0/css/bootstrap.css" rel="stylesheet">*@
@*<div class="btn-group btn-group-justified">
        <div class="btn-group">
            <button type="button" class="btn btn-default">Left</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default">Middle</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default">Right</button>
        </div>
    </div>*@